# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
missing
test-driver
.deps
.*
config.sub
config.guess
config.status
configure.scan
config.h
ltmain.sh
stamp-h1
libtool
Makefile
autoscan.log
*.o
*.la
*.lo
*.a
*.log
*.trs
test/*
